@{
    ViewData["title"] = "User Not Found";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Error</li>
    </ol>
</nav>

<h1 style="text-align: center;"> User Not Found</h1>